@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-display: auto;
}

// COLORS
$color-white: #ffffff;
$color-black: #0d0d0d;

// FONTS
$font-inter: 'Inter', sans-serif;

// RADIUS
$radius-default: 20px;

// PADDING
$padding-x-default: clamp(20px, 8vw, 100px);
$padding-y-default: clamp(20px, 8vh, 100px);
